@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);


*:global {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}


.Terminal {
  height: 100vh;
  padding: 5px;
  width: 100vw;

  display: flex;

  font-family: Menlo, Monaco, 'Source Code Pro', monospace;
  font-size: 11px;
  line-height: 1.1rem;
}
