@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);


*:global {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}


body:global {
  height: 100vh;
  width: 100vw;

  display: flex;

  align-items: center;
  justify-content: center;
}


.Terminal {
  height: 40vh;
  min-width: 20rem;
  padding: 5px;
  width: 30vw;

  overflow-y: auto;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: color(black alpha(80%));
  color: white;
  font-family: Menlo, Monaco, 'Source Code Pro', monospace;
  font-size: 11px;
  line-height: 1.1rem;
}
