@custom-media --iphone (max-width: 736px);


*:global {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}


body:global {
  height: 100vh;
  margin: 0.5rem;
  width: 100vw;

  display: flex;

  align-items: center;
  justify-content: center;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: color(black alpha(80%));
  color: white;
  font-family: Menlo, monospace;
  font-size: 8pt;
  line-height: 1.5em;
}


@media (--iphone) {
  body:global {
    font-size: 20pt;
  }
}


.Terminal {
  height: 100vh;
  width: 100vw;

  overflow-y: auto;
}
