/* Modular Scale based on font-size and heigh of header.
 * http://modularscale.com/scale/?px1=24&px2=66&ra1=1.618&ra2=0
 */

html {
  font-size: 1.5em;
}

body {
  height: 100%;

  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  background-attachment: fixed;
  background-image: url('../images/trianglify.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: Lato;
  font-weight: 300;
  line-height: 1.38;
}

a,
a:active,
a:hover {
  color: #0062B3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  font-weight: 300;
}

nav p {
  padding: 0.382rem;
}

nav a,
nav a:hover {
  color: white;
}

h1 {
  margin-top: 1.7rem;

  font-size: 2em;
  line-height: 1.38;
}

header {
  margin: 4.45rem 10% 0 10%;
}

article {
  margin: 1.7rem 10% 0 10%;
}

article p {
  margin-bottom: 1em;
}
