:root {
  --green: #14fdce;
}

.Command a {
  color: var(--green);
  font-weight: bold;
  text-decoration: none;
}

.Command a:visited {
  color: #14fdce;
  font-weight: bold;
  text-decoration: none;
}

.Command a:hover {
  background-color: var(--green);
  color: #f8f8f2;
  font-weight: bold;
}
