@mixin retina-background-image($url, $retina_url: false) {
  background-image: image-url($url);

  @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
         only screen and (min-device-pixel-ratio: 1.3),
         only screen and (min-resolution: 120dpi) {
    @if $retina_url == false {
      background-size: image-width($url) / 2 image-height($url) / 2;
    } @else {
      background-image: image-url($retina_url);
      background-size: image-width($url) image-height($url);
    }
  }
}
