$blue: #458cc3;

@import 'normalize';
@import 'fonts/bariol';
@import 'fonts/ss-social';

@import 'modular-scale';
@import 'compass';

@import 'noise';
@import 'animation';

$base-font-size: 24px;
$base-line-height: 40px;
$base-size: $base-font-size;

$mobile-font-size: 32px;
$mobile-line-height: 48px;
$mobile-size: $mobile-font-size;

@include establish-baseline;

@mixin phones {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin retina-background-noise($color, $url, $retina-url) {
  @include background($url, $color);

  @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
         only screen and (min-device-pixel-ratio: 1.3),
         only screen and (min-resolution: 120dpi) {
    @include background($retina-url, $color);
  }
}

@include keyframes(rainbow) {
  0%, 20% {
    @include retina-background-noise($blue, url('../images/noise.png'), url('../images/noise@2x.png'));
  }

  25%, 45% {
    @include retina-background-noise(#44db4e, url('../images/noise.png'), url('../images/noise@2x.png'));
  }

  50%, 70% {
    @include retina-background-noise(#ff544f, url('../images/noise.png'), url('../images/noise@2x.png'));
  }

  75%, 95% {
    @include retina-background-noise(#ffb44f, url('../images/noise.png'), url('../images/noise@2x.png'));
  }
}

html {
  background-color: $blue;
  @include retina-background-noise($blue, url('../images/noise.png'), url('../images/noise@2x.png'));
  background-size: 100px 100px;
  @include animation(rainbow 1s * 5 infinite);
}

body {
  -webkit-font-smoothing: antialiased;

  font-family: 'Bariol', sans-serif;
  font-size: ms(0);

  @include phones {
    font-size: ms(0, $mobile-font-size);
  }
}

header,
section,
footer {
  margin: ms(0);

  @include phones {
    margin: ms(0, $mobile-size);
  }

  p {
    margin: 0;
    padding: 0;
    width: 60%;

    @include phones {
      width: 100%;
    }

    a {
      color: white;
      text-decoration: none;

      &:hover,
      &:focus {
        @include text-shadow(0 0 5px white, 0 3px 5px rgba(white, 0.3), 3px 0 5px rgba(white, 0.3), 0 -3px 5px rgba(white, 0.3), -3px 0px 5px rgba(white, 0.3));
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }

  h1 {
    color: white;
    font-size: ms(1);
    font-weight: normal;
    margin: 0;
    padding: ms(-2) 0;

    @include phones {
      font-size: ms(1, $mobile-font-size);
      padding: ms(-2, $mobile-font-size) 0;
    }
  }
}

footer {
  p {
    a {
      @extend .ss-icon;

      margin-right: ms(-2);
    }
  }
}
