@custom-media --iphone (max-width: 736px);

*:global {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body:global {
  margin: 0.5rem;

  background-color: #00303e;
  color: #f8f8f2;
  font-family: "Courier New", monospace;
  font-size: 13px;
  line-height: 18px;
}

@media (--iphone) {
  body:global {
    font-size: 24px;
  }
}
