@custom-media --iphone (max-width: 736px);

*:global {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body:global {
  margin: 0.5rem;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: color(black alpha(80%));
  color: white;
  font-family: "Courier New", monospace;
  font-size: 13px;
  line-height: 1.5em;
}

@media (--iphone) {
  body:global {
    font-size: 20pt;
  }
}
