@import url(https://fonts.googleapis.com/css?family=VT323);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  align-items: center;
  padding: 20vw;
  animation: text-shadow 1.6s infinite, glitch 5s infinite;
  background-color: #0a0a0a;
  color: rgba(248, 248, 242, 0.9);
  font-family: VT323, monospace;
  font-size: 32px;
  line-height: 1.4;
}
