:root {
  --pink: #ec007c;
}

.Command a {
  color: var(--pink);
  font-weight: bold;
  text-decoration: none;
}

.Command a:hover {
  background-color: var(--pink);
  color: white;
  font-weight: bold;
}
