:root {
  --turquoise: #1bacc1;
}

.Command a {
  color: var(--turquoise);
  font-weight: bold;
  text-decoration: none;
}

.Command a:hover {
  background-color: var(--turquoise);
  color: white;
  font-weight: bold;
}
